<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022224578965-5p5i7qfsbma21hmre5lfstst6pgor4u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022224578965-5p5i7qfsbma21hmre5lfstst6pgor4u5</string>
	<key>API_KEY</key>
	<string>AIzaSyD_TbJVHEdegV8uOxkwXzfG1dpTPFre50s</string>
	<key>GCM_SENDER_ID</key>
	<string>1022224578965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kg.prosoft.finance</string>
	<key>PROJECT_ID</key>
	<string>finance-d12b9</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-d12b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022224578965:ios:d68fd8195fc62e7dbc9e9c</string>
	<key>DATABASE_URL</key>
	<string>https://finance-d12b9.firebaseio.com</string>
</dict>
</plist>